<div class="container">
  <br>
  <div class="row">
    <div class="col-md-4">
      {{#with user}}
      <h1 style="font-weight: 100">Perfíl de {{username}}</h1>
      {{/with}}
    </div>
    <div class="col-md-8">
    </div>
  </div>
  <br>
  {{#with user}}
  <div class="row">
    <div class="col-md-6">
      <br><br>
      <p><strong>Userame:</strong>{{username}}</p>
      <br>
      <p><strong>Email:</strong>{{email}}</p>
      <br>
      {{!-- <a href="#" class="btn btn-dark">Editar Perfil </a> --}}
      <a href="/auth/profile/pending" class="btn btn-dark">Películas pendientes </a>
      <a href="/auth/profile/seen" class="btn btn-dark">Películas vistas</a>
      <a href="/auth/profile/events" class="btn btn-dark">Eventos</a>
    </div>
  </div>
  {{/with}}


</div>