<div class="container coasters-index">
  <br>
  <div class="row">
    <div class="col-md-4">
      <h1 style="font-weight: 100">Películas vistas</h1>
    </div>
    <div class="col-md-8">
    </div>
  </div>
  <br>

  {{#each shown}}

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <img src="http://image.tmdb.org/t/p/w185/{{poster_path}}" alt="imagen">
    </div>
    <div class="col-md-8">
      <br><br>
      <h5><strong>Título: </strong> {{title}}</h5>
      <p><strong>Descripción: </strong>{{overview}}</p>
      <p><strong>Calificación:</strong> {{vote_average}}</p>
    </div>
  </div>
  <br>
  {{/each}}

</div>