body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}
.navbar {
  font: 14px "Altasi", Helvetica, Arial, sans-serif;
  
}

.btn-dark {
  background-color: #082E42;
}

a {
  color: #00B7FF;
}

#map {
  height: 650px
}
.movies-index {
 background-color:  #252f3e;
}
.movies-header {
  padding: 30px 0;
}


.containerMovies {
  background-color:  #9fb5c7;
  display: flex;
  height: 320px;
  color: #E1E3E2;
}
.image-movies {
  width: 30%;
}
.img-movie {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;

}
.card-body {
  width: 60%;
}
.description-movies {
  height: 120px;
}