<div class="container">
  <br>
  <div class="row">

    <div class="col-md-6">
      <h1 style="font-weight: 100">Añadir localización de la película</h1>
    </div>

    <div class="col-md-6">

      <form action="/movies/add" method="POST">
        <div class="form-group">
          <label for="field1">Adress: </label>
          <input type="text" name="adress" placeholder="adress" class="form-control">
        </div>
      
        <button type="submit" class="btn btn-dark">Añadir localizaciones</button>
      </form>
    </div>

  </div>
</div>